In [1]:
import MySQLdb

In [2]:
host = "j3jej8xd4knjfmt99sky.ck5y642otqtt.us-east-1.rds.amazonaws.com"
user = "mQP7MgqhhSZPc6Py"
pw = "%k3Uvsu={9)n}~WBq>m>"
db = "HURDAT"
db = MySQLdb.connect(host,user,pw,db)

In [3]:
cursor = db.cursor()

In [4]:
sql = """SELECT * 
    FROM `AL_summary` 
    WHERE `Year` = 2005;"""

In [5]:
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Fetch all the rows in a list of lists.
    results = cursor.fetchall()
    for row in results:
        Key = row[0]
        Observations = row[1]
        StartDate = row[2]
        EndDate = row[3]
        YearNum = row[4]
        Year = row[5]
        Name = row[6]
        MaxWind = row[7]
        MinPressure = row[8]
        
        # Now print fetched result
        print "Key = %s, Observations = %d, StartDate = %s, EndDate = %s, YearNum = %d, Year = %d, Name = %s, MaxWind = %d, MinPressure = %d" % \
             (Key, Observations, StartDate, EndDate, YearNum, Year, Name, MaxWind, MinPressure)
except:
        print "Error: unable to fetch data"

Key = AL012005, Observations = 26, StartDate = None, EndDate = None, YearNum = 1, Year = 2005, Name = ARLENE, MaxWind = 60, MinPressure = 989
Key = AL022005, Observations = 7, StartDate = None, EndDate = None, YearNum = 2, Year = 2005, Name = BRET, MaxWind = 35, MinPressure = 1002
Key = AL032005, Observations = 34, StartDate = None, EndDate = None, YearNum = 3, Year = 2005, Name = CINDY, MaxWind = 65, MinPressure = 991
Key = AL042005, Observations = 59, StartDate = None, EndDate = None, YearNum = 4, Year = 2005, Name = DENNIS, MaxWind = 130, MinPressure = 930
Key = AL052005, Observations = 45, StartDate = None, EndDate = None, YearNum = 5, Year = 2005, Name = EMILY, MaxWind = 140, MinPressure = 929
Key = AL062005, Observations = 38, StartDate = None, EndDate = None, YearNum = 6, Year = 2005, Name = FRANKLIN, MaxWind = 60, MinPressure = 997
Key = AL072005, Observations = 9, StartDate = None, EndDate = None, YearNum = 7, Year = 2005, Name = GERT, MaxWind = 40, MinPressure = 1005
Key = AL082005, Observations = 46, StartDate = None, EndDate = None, YearNum = 8, Year = 2005, Name = HARVEY, MaxWind = 55, MinPressure = 994
Key = AL092005, Observations = 56, StartDate = None, EndDate = None, YearNum = 9, Year = 2005, Name = IRENE, MaxWind = 90, MinPressure = 970
Key = AL102005, Observations = 21, StartDate = None, EndDate = None, YearNum = 10, Year = 2005, Name = TEN, MaxWind = 30, MinPressure = 1008
Key = AL112005, Observations = 6, StartDate = None, EndDate = None, YearNum = 11, Year = 2005, Name = JOSE, MaxWind = 50, MinPressure = 998
Key = AL122005, Observations = 34, StartDate = None, EndDate = None, YearNum = 12, Year = 2005, Name = KATRINA, MaxWind = 150, MinPressure = 902
Key = AL132005, Observations = 26, StartDate = None, EndDate = None, YearNum = 13, Year = 2005, Name = LEE, MaxWind = 35, MinPressure = 1006
Key = AL142005, Observations = 51, StartDate = None, EndDate = None, YearNum = 14, Year = 2005, Name = MARIA, MaxWind = 100, MinPressure = 962
Key = AL152005, Observations = 29, StartDate = None, EndDate = None, YearNum = 15, Year = 2005, Name = NATE, MaxWind = 80, MinPressure = 979
Key = AL162005, Observations = 69, StartDate = None, EndDate = None, YearNum = 16, Year = 2005, Name = OPHELIA, MaxWind = 75, MinPressure = 976
Key = AL172005, Observations = 28, StartDate = None, EndDate = None, YearNum = 17, Year = 2005, Name = PHILIPPE, MaxWind = 70, MinPressure = 985
Key = AL182005, Observations = 36, StartDate = None, EndDate = None, YearNum = 18, Year = 2005, Name = RITA, MaxWind = 155, MinPressure = 895
Key = AL192005, Observations = 9, StartDate = None, EndDate = None, YearNum = 19, Year = 2005, Name = NINETEEN, MaxWind = 30, MinPressure = 1006
Key = AL202005, Observations = 17, StartDate = None, EndDate = None, YearNum = 20, Year = 2005, Name = STAN, MaxWind = 70, MinPressure = 977
Key = AL212005, Observations = 7, StartDate = None, EndDate = None, YearNum = 21, Year = 2005, Name = UNNAMED, MaxWind = 45, MinPressure = 997
Key = AL222005, Observations = 9, StartDate = None, EndDate = None, YearNum = 22, Year = 2005, Name = TAMMY, MaxWind = 45, MinPressure = 1001
Key = AL232005, Observations = 27, StartDate = None, EndDate = None, YearNum = 23, Year = 2005, Name = TWENTY-TWO, MaxWind = 40, MinPressure = 1005
Key = AL242005, Observations = 15, StartDate = None, EndDate = None, YearNum = 24, Year = 2005, Name = VINCE, MaxWind = 65, MinPressure = 988
Key = AL252005, Observations = 48, StartDate = None, EndDate = None, YearNum = 25, Year = 2005, Name = WILMA, MaxWind = 160, MinPressure = 882
Key = AL262005, Observations = 11, StartDate = None, EndDate = None, YearNum = 26, Year = 2005, Name = ALPHA, MaxWind = 45, MinPressure = 998
Key = AL272005, Observations = 18, StartDate = None, EndDate = None, YearNum = 27, Year = 2005, Name = BETA, MaxWind = 100, MinPressure = 962
Key = AL282005, Observations = 33, StartDate = None, EndDate = None, YearNum = 28, Year = 2005, Name = GAMMA, MaxWind = 45, MinPressure = 1002
Key = AL292005, Observations = 42, StartDate = None, EndDate = None, YearNum = 29, Year = 2005, Name = DELTA, MaxWind = 60, MinPressure = 980
Key = AL302005, Observations = 43, StartDate = None, EndDate = None, YearNum = 30, Year = 2005, Name = EPSILON, MaxWind = 75, MinPressure = 981
Key = AL312005, Observations = 36, StartDate = None, EndDate = None, YearNum = 31, Year = 2005, Name = ZETA, MaxWind = 55, MinPressure = 994

In [6]:
db.close()